{% extends 'layout.html' %}
{% block content %}

{% for id, data in emp.items() %}

{% if data['position'] == 'Manager' %}
<div>
    <table>
        <tr>
            <td>ID:</td>
            <td>{{ id }}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{ data['name']}}</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{ data['age']}}</td>
        </tr>

        <tr>
            <td>Position:</td>
            <td>{{ data['position']}}</td>
        </tr>
    </table>
</div>
<br>

{% endif %}
{% endfor %}
{% endblock content %}